html {
  font-family: sans-serif;
}

.card {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 8px;
  text-align: center;
}

.card:hover {
  background-color: #e6e6e6;
}

.btn:hover {
  background-color: #333;
  text-decoration: none;
}
